* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #f0f0f0;
}

.container {
  background-color: #ffffff;
  width: 820px;
  height: 640px;
  margin: 11% auto;
  border-radius: 25px 25px 25% 25px;
}

.form-group {
  display: inline-block;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: -4%;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: hsla(0, 0%, 33%, 0.863);
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 3%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
}

.form input {
  width: 140px;
  height: 65px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #dcdcdc;
  font-size: 32px;
  color: hsl(0, 0%, 8%);
  padding-left: 8%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.form input::placeholder {
  font-size: 32px;
  color: hsla(0, 0%, 42%, 0.863);
  margin-left: 10px;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-separator {
  border: none;
  border-top: 1px solid hsl(0, 0%, 86%);
  width: 72.5%;
  margin-top: 5%;
  margin-left: 7.5%;
}

.btn-calc {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: none;
  background-color: hsl(259, 100%, 65%);
  position: absolute;
  right: 32.5%;
  top: 34.5%;
  cursor: pointer;
}

.btn-calc:hover {
  background-color: hsl(0, 0%, 8%);
}

span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 3px;
}

.result {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 90px;
  margin-left: 5%;
}

.form .error-label {
  color: hsl(0, 100%, 67%);
}

/* Style pour les labels et champs invalides */
.error {
  color: hsl(0, 100%, 67%);
}

/* Style pour les champs requis non remplis */
input.error {
  border: 1px solid hsl(0, 100%, 67%);
}

/* Style pour le message d'erreur */
.error-message {
  color: hsl(0, 100%, 67%);
  font-size: 0.9em;
  margin-top: 0.5em;
}

@media screen and (max-width: 1470px) {
  .custom-separator {
    width: 70%;
  }

  .btn-calc {
    right: 28.5%;
    top: 35%;
  }
}

@media screen and (max-width: 1404px) {
  .custom-separator {
    width: 73%;
  }
  .btn-calc {
    right: 26.5%;
    top: 28.5%;
  }
}
